@charset "UTF-8";

body {
    _text-align: center;
}
.main {
    display: table-cell;
    *display: block;
    width: auto;
}
.body {
  padding: 0 1px 0 1px;
}
.body, .main {
  *zoom: 1;
  position: relative;
}
.body:after, .main:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0!important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.page {
    position: relative;
    margin: 0 auto;
    width: 955px;
    _text-align: left;
}
.page:before, .page:after {
    position: absolute;
    color: #8040bf;
    font-size: 35px;
    font-family: 'Orbitron';
    content: 'Clemson Sports Talk';
}
.page:before {
    left: -230px;
    top: 200px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.page:after {
    right: -230px;
    top: 200px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.leftCol {
    float: left;
    width: 250px;
    _margin-right: -3px;
}
h1, h2, h3, h4, h5, h6, ul, ol, dl, p, blockquote {
    margin: 10px;
}
h1, h2, h3, h4, h5, h6, img {
    padding-bottom: 0;
}
pre {
    margin: 10px;
}
table h1, table h2, table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl {
    padding: 0;
}
.pam {
    padding: 10px;
}
.line:after, .lastUnit:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0!important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.line {
    *zoom: 1;
}
.unit {
    float: left;
}
.size1of1 {
    float: none;
}
.size1of2 {
    width: 50%;
}
.size1of3 {
    width: 33.33333%;
}
.size2of3 {
    width: 66.66666%;
}
.size1of4 {
    width: 25%;
}
.size3of4 {
    width: 75%;
}
.size1of5 {
    width: 20%;
}
.size2of5 {
    width: 40%;
}
.size3of5 {
    width: 60%;
}
.size4of5 {
    width: 80%;
}
.lastUnit {
    display: table-cell;
    float: none;
    width: auto;
    *display: block;
    *zoom: 1;
    _position: relative;
    _left: -3px;
    _margin-right: -3px;
}
img {
    border: none;
}
.center {
    margin: 0 auto;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8.5pt;
    color: #000;
}
body {
    background: #639;
    margin: 0 auto;
}
li {
    margin: 0;
}
ul {
    padding: 0 0 0 15px;
    margin: 0 0 0 15px;
    list-style-type: disc;
    list-style-position: outside;
}
.tweets {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 1.25em;
}
.tweets li {
    padding: 7px 10px;
    border-bottom: dashed 1px #666;
}
.tweets li span {
    font-family: georgia, 'times new roman', serif;
    font-style: italic;
}
.donate {
    margin: 0;
    text-align: center;
}
.donate a {
  text-decoration: none;
}
.slideshow { height: 148px; overflow: hidden; border-top: solid 3px #ff5f01; }
nav {
  border: 0;
  padding: 0;
  margin: 0;
  height: 28px;
  background: #639;
  border-bottom: solid 3px #fa6200;
}
nav ul { margin: 0; padding: 0; }
nav div { padding: 0 0 0 250px; border-bottom: solid 1px #fff; }
nav li { list-style-type: none; display: inline-block; }
nav a {
    margin: 3px 1px 0 1px;
    padding: 0 10px;
    border: 0;
    text-transform: uppercase;
    display: inline-block;
    font-family: orbitron, serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    line-height: 23px;
    text-decoration: none;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .1s;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -moz-transition-delay: 0;
    -webkit-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
    text-shadow: white 0 0 12px;
}
nav li.active, nav li:hover { border-bottom: solid 1px #fa6200; position: relative; top: 1px; }
nav li.active a, nav li:hover a {
    background-color: #fa6200;
    color: #000;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -khtml-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}
a.logo-right {
    display: block;
    height: 99px;
    text-indent: -9999px;
}
a.logo {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 225px;
}
a.logo img {
  max-width: 100%;
}
.header-bg {
    background: url(/img/header.jpg) no-repeat;
}
h2 {
    margin: 0;
    padding: 5px;
    text-transform: uppercase;
    font-family: orbitron, serif;
    font-size: 10px;
    text-shadow: white 0 0 12px;
    letter-spacing: 2px;
}
h3 {
    color: #639;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 2px 0;
    text-transform: uppercase;
}
.about h2, .radio h2, .clemson-news h2, .ads h2 {
    background: #3c1f59;
    color: #fff;
}
.extras h2 {
    background: #bebebe;
    color: #000;
}
.side-nav h2 {
    background: #ff5f01;
    color: #000;
}
.podcasts-banner {
    padding: 0;
    width: 100%;
}
.ads { text-align: center; }
table.affiliates {
    width: 100%;
    border: 0;
}
table.affiliates th {
    background: #eee;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}
table.affiliates tr.zebra td {
    background: #fee;
}
.txtC { text-align: center; }
a { color: #639; }
a:hover { color: #ff5f01; }

article { padding: 20px; }
article p, article ul { font-size: 16px; line-height: 24px; }
article img { -webkit-border-radius: 3px; border-radius: 3px; -webkit-background-clip: padding-box; background-clip: padding-box; }
article img, article iframe { display: block; margin: 0 auto; max-width: 90%; }
article h1 a, article h2 a, article h3 a, article h4 a, article h5 a, article h6 a { text-decoration: none; color: #000; }
article h2 { font-size: 25px; }
article h3 { font-family: 'Orbitron'; font-size: 18px; margin: 20px 10px 10px 10px; }
article time { color: #aaa; float: right; }
article img.right { float: right; margin: 15px; }
article a { color: #639; }

.archive section { padding: 20px; }
.archive section h2 { font-size: 30px; float: left; display: inline-block; }
.archive article { margin-left: 120px; padding: 10px; padding-left: 80px; position: relative; border-bottom: solid 1px #eee; }
.archive article time { position: absolute; left: 0px; top: 2px; color: #aaa; font-size: 12px; }
.archive article time .year { display: none; }
.archive article h3 { font-size: 18px; }

footer { color: #fff; line-height: 14px; text-align: center; margin: 15px 0; }
footer a { color: #fff; }
footer hr { height: 3px; background: #ff5e04; border: solid 1px #e8e8e8; border-left: none; border-right: none; }

.round { -webkit-border-radius: 5px; border-radius: 5px; -webkit-background-clip: padding-box; background-clip: padding-box; }
.body { background: #fff; }
.side-nav { width: 225px; margin-top: 90px; }

.sponsors { text-align: center; }
.sponsors a { text-decoration: none; }

ul.shows { margin: 0; padding: 0; list-style-type: none; }
ul.shows li { padding: 5px; }
ul.shows li + li { border-top: solid 1px #eee; }

/* Third party stylesheets (facebook or rssinclude?) sometimes override this,
 * hence the increased specificity. */
ul.shows li a { color: #639; }
p a { color: #639; }


