---
layout: default
---
<div class='line'>
  <div class='unit size5of5 radio' style="background:white;">
 <h2>Clemson Sports Talk Chatroom</h2>
 
<div class='pam'>
    We want the chat to be a pleasant and safe place for all chatters. The
    primary focus of this chat is content related to the live shows. Keeping that
    in mind, these are the rules:
  </p>

  <ol>
    <li>
      Keep chat conversation at a family friendly level, as there are a wide
      range of ages in our chat. Self-censorship of swearing is not considered
      "family friendly".
    </li>
    <li>
      No offensive references to a person or group by race, religion, gender,
      or orientation.
    </li>
    <li>
      PLEASE DON'T TYPE IN ALL CAPS.
    </li>
    <li>
      Do not harass other chatters. You can respectfully disagree.
    </li>
    <li>
      Do not repeat yourself over and over to try to get noticed, as this is
      disruptive to the chat.
    </li>
  </ol>

  <p>
    The most important (and simplest) rule: Use common sense, and don't be a jerk.
  </p>

  <p class='sponsors'>
    {% for sponsor in site.sponsors.primary %}
      <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
        <img src='{{ sponsor.img }}' width='130'>
      </a>
    {% endfor %}
  </p>
</div>

<div class='pam'>
  <iframe src="http://twubs.com/embed/cst560/?messagesPerPage=15&headerBgColor=%#3C1F59&headerTextColor=%23ffffff" width="100%" height="900" frameborder="0"><a href="http://twubs.com/cst560">#cst560</a></iframe>
                    

<p class='sponsors'>
  {% for sponsor in site.sponsors.secondary %}
    <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
      <img src='{{ sponsor.img }}' width='130'>
    </a>
  {% endfor %}
</p>

<article>
  <h2>How can I be a part of the program?</h2>
  <p>
    <ul>
      <li>
        <strong>Clemson Sports Talk</strong> -- Monday - Friday, 6-8PM on <a href='http://www.560theteam.com/main.html'>560AM The Team </a>
      </li>
      <li>
        <strong>TigerNet Talk</strong> -- Sunday, 9PM on <a href='http://www.ClemsonSportsTalk.com/live'>Clemson Sports Talk </a> and <a href='http://www.tigernet.com'>TigerNet </a>
      </li>
    </ul>
  </p>

  {% include faq.html %}

</article>
</div>
</div>
