<h2>Social Media</h2>
<div class='donate pam'>
  <a class='img-link' href='https://www.facebook.com/ClemsonSportsTalk'>
    <img src='/img/Icons/facebook.png' width='30' height='30' longdesc='Facebook' >
  </a>
  <a class='img-link' href='http://twitter.com/clemsonsports'>
    <img src='/img/Icons/twitter.png' width='30' height='30' longdesc='Twitter' >
  </a>
  <a class='img-link' href='http://www.google.com/reader/public/atom/user/03107298055788933099/bundle/Clemson Tigers'>
    <img src='/img/Icons/RSS.png' width='30' height='30' longdesc='RSS' >
  </a>
  <a class='img-link' href='http://youtube.com/elswannmedia'>
    <img src='/img/Icons/you-tube-logo.jpg' width='78' height='30' longdesc='YouTube' >
  </a>
</div>

<h2>Listen On The Go</h2>
<div class='donate pam'>

  <a href='http://landing.stitcher.com/?vurl=CLEMSONPODCASTS'>
    <img src='/img/bug_300x250.jpg' width='174' height='160'>
  </a>
  <p>
    Promo Code: <strong>CLEMSONPODCASTS</strong>
  </p>

</div>
