

<p>
  <strong>Clemson Sports Talk on 560AM & iHeart Radio</strong>
  <ul>
    <li>
      <strong>Phone –</strong> (803) 978-1TEAM
    </li>
    <li>
      <strong>Twitter –</strong> Tweet to hashtag
      <a href='https://twitter.com/search?q=%23CST560'>#CST560</a> or
      <a href='http://twitter.com/clemsonsports'>@clemsonsports</a>.
    </li>
    <li>
      <strong>Email –</strong> <a href="mailto:clemson81@gmail.com">clemson81@gmail.com</a>
    </li>
   
  </ul>
</p>
<p>
  <strong>TigerNet Talk - Sundays at 9PM</strong>
  <ul>
    <li>
      <strong>Phone –</strong> (803) 450-0086
    </li>
    <li>
      <strong>Twitter –</strong> Tweet to hashtag
      <a href='https://twitter.com/search?q=%23CST560'>#CST560</a> or
      <a href='http://twitter.com/clemsonsports'>@clemsonsports</a>.
    </li>
    <li>
      <strong>Email –</strong> <a href="mailto:clemson81@gmail.com">clemson81@gmail.com</a>
    </li>
    <li>
      <strong>Spreecast –</strong> If you watch the show LIVE on Spreecast we
      take your text questions during the program.
    </li>
  </ul>
</p>
<p>
  <strong>Can I still be a part of the show if I listen to the podcast version?</strong>
  <br>
  You know it! We won't leave anyone out of the discussions. You can
  participate in the program 24 hours a day, 7 days a week.  The phone lines
  are always up and running. If you listen to the podcast version and you want
  your voice heard give us a call, tweet, or email.
</p>

<p>
  <strong>So how do I call in when the show isn't on?</strong>
  <br>
  Unfortunately on 560AM you would be calling a different show, but the TigerNet Talk phone line is always up and running. You can also click
  on &quot;Send Voicemail&quot; on the front page. If you want your opinion heard give us a call!
</p>


