<nav>
  <div>

    <ul>
      <li{% if page.url == '/index.html' %} class='active'{% endif %}>
        <a href='/' class='nav-home'>Home</a>
      </li>

      <li{% if page.url == '/live/index.html' %} class='active'{% endif %}>
        <a href='/live' class='nav-live'>Chat Live</a>
      </li>

      <li{% if page.url == '/tnt/index.html' %} class='active'{% endif %}>
        <a href='/tnt' class='nav-tnt'>Archives</a>
      </li>

      <li{% if page.url == '/blog/index.html' %} class='active'{% endif %}>
        <a href='/blog' class='nav-blog'>Our App</a>
      </li>

      <li{% if page.url == '/sponsors/index.html' %} class='active'{% endif %}>
        <a href='/sponsors' class='nav-itunes'>Sponsors</a>
      </li>

      <li{% if page.url == '/affiliates/index.html' %} class='active'{% endif %}>
        <a href='/affiliates' class='nav-radio'>F.A.Q.</a>
      </li>
      
      <li{% if page.url == '/about/index.html' %} class='active'{% endif %}>
        <a href='/about' class='nav-about'>About</a>
      </li>
    </ul>

  </div>
</nav>
