<h2>Sponsor Our Shows</h2>
<div class='txtC'>

  <script>

    var sponsors = [
      {% for sponsor in site.sponsors.primary %}
        {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name }}'}
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];

    var sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
    document.write(
      "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
        "<img class='round' src='" + sponsor.img + "' style='margin: 3px;'>" +
      "</a>"
    );

    sponsors = [
      {% for sponsor in site.sponsors.secondary %}
        {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name }}'}
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];

    sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
    document.write(
      "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
        "<img class='round' src='" + sponsor.img + "' style='margin: 3px;'>" +
      "</a>"
    );
  </script>

</div>
<p class='txtC'>
  <a href='/ads/'>Advertising Information</a>
</p>
