<h2> Sponsor Our Shows</h2>
<ul class='links'>
  <li><a href='/ads/'>Advertising Information</a></li>
</ul>
<div align='center' width='center'>

  <script>

    var sponsors = [
      {url: 'http://www.crosscreektimber.com', img: '/img/Sponsors/Cross_Creek1.jpg'},
      {url: 'http://www.crosscreekrealtyllc.com', img: '/img/Sponsors/CCRealty.jpg'}
    ];

    var sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
    document.write(
      "<a href='" + sponsor.url + "' target='_blank'>" +
        "<img class='round' src='" + sponsor.img + "' style='margin: 3px;'>" +
      "</a>"
    );

    sponsors = [
      {url: 'http://www.peacefuldentistry.com', img: '/img/Sponsors/GDOG1.jpg'},
      {url: 'http://www.edistooutdoors.com', img: '/img/Sponsors/EO1.jpg'},
      {url: 'http://www.clemson.edu/centers-institutes/madren/inn', img: '/img/Sponsors/James_F_Martin1.jpg'},
      {url: 'http://www.clemson.edu/centers-institutes/madren/dining.html', img: '/img/Sponsors/Seasons1.jpg'}
    ];

    sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
    document.write(
      "<a href='" + sponsor.url + "' target='_blank'>" +
        "<img class='round' src='" + sponsor.img + "' style='margin: 3px;'>" +
      "</a>"
    );
  </script>

</div>
