<h2> Sponsor Our Shows</h2>
<ul class='links'>
  <li><a href='/ads/'>Advertising Information</a></li>
</ul>
<div align='center' width='center'>

  <script>
    var images = [
      'CCRealty.jpg',
      'Cross_Creek1.jpg',
      'DC1.jpg',
      'EO1.jpg',
      'FB1.jpg',
      'fudog-10percent-off.png',
      'GDOG1.jpg',
      'James_F_Martin1.jpg',
      'Seasons1.jpg',
      'vostok.png'
    ];

    document.write(
      "<img src='/img/Sponsors/" +
      images[Math.floor(Math.random() * images.length)] +
      "' width='223' height='125'>"
    );
  </script>

</div>
