---
layout: default
---

<div class='line'>
  <div class='unit size4of5 radio'>

    <p class='sponsors'>
      {% for sponsor in site.sponsors.primary %}
        <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
          <img src='{{ sponsor.img }}' width='100'>
        </a>
      {% endfor %}
    </p>
    <p class='sponsors'>
      {% for sponsor in site.sponsors.secondary %}
        <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
          <img src='{{ sponsor.img }}' width='100'>
        </a>
      {% endfor %}
    </p>

    <div class='pam'>
     
      <p class='txtC'>
        Email: <a href='mailto:clemson81@gmail.com'>clemson81@gmail.com</a>
      </p>
    </div>
  </div>
  <div class='unit size1of5 ads'>
    {% include ads.html %}
  </div>
</div>
