---
layout: default
---

<div class='line'>
  <div class='unit size5of5 radio'>

    <p class='sponsors'>
      {% for sponsor in site.sponsors.primary %}
        <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
          <img src='{{ sponsor.img }}' width='100'>
        </a>
      {% endfor %}
    </p>
    <p class='sponsors'>
      {% for sponsor in site.sponsors.secondary %}
        <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
          <img src='{{ sponsor.img }}' width='100'>
        </a>
      {% endfor %}
    </p>

    <div class='pam'>
     <img src='/img/app-ad-large.jpg' width='100%'>
    <div style='text-align: center;'>
      <a href='http://tinyurl.com/CSTiphone'>Download For iPhone</a>
      or
      <a href='http://tinyurl.com/CSTandroid'>Download For Android</a>
    </div>
    The Clemson Sports Talk App
      <p class='txtC'>
        Email: <a href='mailto:clemson81@gmail.com'>clemson81@gmail.com</a>
      </p>
    </div>
  </div>
  
</div>
