---
layout: default
---

<div class='line'>
  <div class='unit size5of5 radio'>
    <h2>Clemson Sports Talk App</h2>
    <div class='pam'>
     <img src='/img/app-ad-large.jpg' width='100%'>
    <div style='text-align: center;'>
      <a href='http://tinyurl.com/CSTiphone'>Download For iPhone</a>
      or
      <a href='http://tinyurl.com/CSTandroid'>Download For Android</a>
        </div>
        <div style='text-align: left;'>
       <p></p>
       <center><H3>Clemson Sports Talk App</H3></center>
      <p>
      Download the FREE Clemson Sports Talk App to take the Tigers with you around the world.
      Turn on Notifications and be alerted instantly when big Clemson news breaks!
      <p>
      Included in the app you will find the latest on Clemson news and recruiting.
      You can listen to the program or find your favorite episodes. You can chat during the show,
      call in, or even find about upcoming Clemson Sports Talk events.
      <p>
      We also included the ability for you to share your photos with us, find your car on a road trip, and
      locate tickets in Death Valley.
      <p>
      </div>
      <div style='text-align: center;'>
       <p class='sponsors'>
      {% for sponsor in site.sponsors.primary %}
        <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
          <img src='{{ sponsor.img }}' width='100'>
        </a>
      {% endfor %}
    </p>
    <p class='sponsors'>
      {% for sponsor in site.sponsors.secondary %}
        <a href='{{ sponsor.link }}' title='{{ sponsor.name }}'>
          <img src='{{ sponsor.img }}' width='100'>
        </a>
      {% endfor %}
    </p>
    </div>
   
      <p class='txtC'>
        Email: <a href='mailto:clemson81@gmail.com'>clemson81@gmail.com</a>
      </p>
    </div>
  </div>
  
</div>
