---
layout: default
---

<div class='sponsors'>

  {% for sponsor in site.sponsors.primary %}
    <a href='{{ sponsor.link }}' class='sponsor'>
      <img src='{{ sponsor.img }}'>
      <br>
      <div class='sponsor-title'>
        <h4>{{ sponsor.name }}</h4>
      </div>
    </a>
  {% endfor %}

  {% for sponsor in site.sponsors.secondary %}
    <a href='{{ sponsor.link }}' class='sponsor'>
      <img src='{{ sponsor.img }}'>
      <br>
      <div class='sponsor-title'>
        <h4>{{ sponsor.name }}</h4>
      </div>
    </a>
  {% endfor %}

</div>
