---
layout: default
---

<div class='line'>
  <div class='unit size4of5 radio'>
   
    <article>
      <h3>Clemson Sports Talk</h3>
      <p>
        <table class='affiliates' cellspacing='0' cellpadding='4'>
          <tr>
            <th width="92"><div align="left" class="style3">Source</div></th>
            <th width="182"><div align="left" class="style3">Link</div></th>
            <th width="420"><div align="left" class="style3">Info</div></th>
          </tr>
          <tr>
            <td>Listen Online</td>
            <td><a href="http://www.560theteam.com/">Sportsradio 560 The Team</a>
            <td>Listen LIVE online from 6-8PM Monday-Friday</td>
            <td width="2"></td>
          </tr>
          <tr>
            <td>iHeart Radio App</td>
            <td><a href="http://www.iheart.com/live/2069/?autoplay=true">iHeart Radio</a>
            <td>Listen LIVE on the go with the iHeart Radio App</td>
            <td width="2"></td>
          </tr>
          <tr>
            <td>#CST560 App for Iphone</td>
            <td><a href="http://www.tinyurl.com/CSTiPhone">iPhone App</a>
            <td>Get the Clemson Sports Talk App and dive right in!</td>
            <td width="2"></td>
          </tr>
          <tr class='zebra'>
            <td>#CST560 App for Android</td>
            <td><a href="http://www.tinyurl.com/CSTAndroid">Android App</a></td>
            <td>Get the Clemson Sports Talk App and dive right in!</td>
          <tr>
            <td>Itunes</td>
            <td><a href="https://itunes.apple.com/us/podcast/clemson-sports-talk/id683337819?mt=2">Clemson Sports Talk</a> </td>
            <td>Make sure you subscribe to our podcast and sync weekly to stay informed on the latest out of Clemson.</td>
          </tr>
         </table>
      </p>
      <h3>TigerNet Talk</h3>
      <p>
        <table class='affiliates' cellspacing='0' cellpadding='4'>
          <tr>
            <th width="82"><div align="left" class="style3">Source</div></th>
            <th width="172"><div align="left" class="style3">Link</div></th>
            <th width="440"><div align="left" class="style3">Info</div></th>
          </tr>
          <tr>
            <td>Spreecast</td>
            <td><a href="http://www.spreecast.com/channels/clemson-sports-talk">TigerNet Talk</a>
            <td>Watch TigerNet Talk LIVE on our front page Sunday nights at 9:00 PM. Lawton takes all your calls, tweets, emails, and text questions. </td>
            <td width="2"></td>
          </tr>
          <tr class='zebra'>
            <td>Stitcher Smart Radio</td>
            <td><a href="http://www.stitcher.com/listen.php?fid=19425">TigerNet Talk</a></td>
            <td>Stitcher Smart Radio is an app for your smart phone. This app requires no syncing to keep up with our programming. Use the PROMO CODE: CLEMSONPODCASTS for your shot at $100.        </td>
          <tr>
            <td>Itunes</td>
            <td><a href="http://itunes.apple.com/us/podcast/tigernet-talk-tnt/id79900679">TigerNet Talk</a> </td>
            <td>Make sure you subscribe to our podcast and sync weekly to stay informed on the latest out of Clemson.</td>
          </tr>
          <tr class='zebra'>
            <td>Podcasts App</td>
            <td><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&sqi=2&ved=0CDIQFjAA&url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fpodcasts%2Fid525463029%3Fmt%3D8&ei=HyD8UP-6L4vU9ATqjIDwCg&usg=AFQjCNFqb9lQPqphtU8EkriKf8hDioBgeA&sig2=ebqWqjgG90Gr3H68TIrgbg&bvm=bv.41248874,d.eWU">TigerNet Talk</a></td>
            <td>On your iPhone, iPod, or iPad, you can listen anytime using the Podcasts App. Just search for our shows to start listening on the go!        </td>
          </tr>
            </table>
      </p>
      <h3>How Can I participate?</h3>
      {% include faq.html %}
    </article>
  </div>
  <div class='unit size1of5 ads'>
    {% include ads.html %}
  </div>
</div>
