---
layout: default
---

<div class='line'>
  <div class='unit size4of5 radio'>
    <article>
      <h3>560AM The Team & iHeart Radio</h3>
      <p>
        <table class='affiliates' cellspacing='0' cellpadding='4'>
          <tr>
            <th><div align="left">Radio</div></th>
            <th><div align="left">Online</div></th>
            <th><div align="left">Mobile</div></th>
          </tr>
          <tr>
            <td>560 AM</td>
            <td><a href="http://www.560theteam.com/">560 AM The Team</a>
            <td><a href="http://www.iheart.com/live/2069/?autoplay=true">iHeart Radio App</a> </td>
            <td width="2"></td>
          </tr>
        </table>
      </p>
      <h3>TigerNet Talk</h3>
      <p>
        <table class='affiliates' cellspacing='0' cellpadding='4'>
          <tr>
            <th width="82"><div align="left" class="style3">Source</div></th>
            <th width="172"><div align="left" class="style3">Link</div></th>
            <th width="440"><div align="left" class="style3">Info</div></th>
          </tr>
          <tr>
            <td>Spreecast</td>
            <td><a href="http://www.spreecast.com/channels/clemson-sports-talk">TigerNet Talk</a>
            <td>Watch TigerNet Talk LIVE on our front page Sunday nights at 9:00 PM. Lawton takes all your calls, tweets, emails, and text questions. </td>
            <td width="2"></td>
          </tr>
          <tr class='zebra'>
            <td>Stitcher Smart Radio</td>
            <td><a href="http://www.stitcher.com/listen.php?fid=19425">TigerNet Talk</a></td>
            <td>Stitcher Smart Radio is an app for your smart phone. This app requires no syncing to keep up with our programming. Use the PROMO CODE: CLEMSONPODCASTS for your shot at $100.        </td>
          <tr>
            <td>Itunes</td>
            <td><a href="http://itunes.apple.com/us/podcast/tigernet-talk-tnt/id79900679">TigerNet Talk</a> </td>
            <td>Make sure you subscribe to our podcast and sync weekly to stay informed on the latest out of Clemson.</td>
          </tr>
          <tr class='zebra'>
            <td>Podcasts App</td>
            <td><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&sqi=2&ved=0CDIQFjAA&url=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2Fpodcasts%2Fid525463029%3Fmt%3D8&ei=HyD8UP-6L4vU9ATqjIDwCg&usg=AFQjCNFqb9lQPqphtU8EkriKf8hDioBgeA&sig2=ebqWqjgG90Gr3H68TIrgbg&bvm=bv.41248874,d.eWU">TigerNet Talk</a></td>
            <td>On your iPhone, iPod, or iPad, you can listen anytime using the Podcasts App. Just search for our shows to start listening on the go!        </td>
          </tr>
            <td>YouTube</td>
            <td><a href="http://www.youtube.com/playlist?list=PL3D744B1217B8325A">TigerNet Talk</a></td>
            <td>High quality archived versions of TigerNet Talk are uploaded after the show wraps.        </td>
          </tr>
        </table>
      </p>
      <h3>How Can I participate?</h3>
      {% include faq.html %}
    </article>
  </div>
  <div class='unit size1of5 ads'>
    {% include ads.html %}
  </div>
</div>
