<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Clemson Sports Talk</title>
  <meta name='description' content='Clemson Tiger sports shows and news updates. Clemson Sports Talk brings you Clemson Tiger sports news via Twitter as well as Clemson Tiger radio shows Clemson Sports Talk, Clemson Hotline, and TigerNet Talk.'>
  <meta name='keywords' content='Clemson Tigers, Clemson Sports Talk, Clemson Sports, radio, radio show, 560 The Team, Tigernet, Clemson Hotline, TigerNet Talk, sports, podcasts, podcasting'>
  <link rel='apple-touch-icon' href='http://farm4.static.flickr.com/3461/3824482129_32c5e526bd.jpg'>

  {% include meta.html %}

  <link href='//fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet'>

  <link href='/css/screen.css' rel='stylesheet'>

  <!--[if lt IE 9]><script src='/js/html5.js'></script><![endif]-->

</head>
<body>
<div class='page'>
  <div class='body'>

    <a href='/' class='logo' title='Clemson Sports Talk'>
      <img src='/img/logo-small.png'>
    </a>

    <a href='/' title='Clemson Sports Talk'>
      <img src='/img/banner.jpg'>
    </a>

    {% include nav.html %}

    <div class='leftCol side-nav'>

      <div data-cycle class='slideshow'>
        <img src='/img/side_photos/09.jpg'>
        <img src='/img/side_photos/10.jpg' width='225' height='148'>
        <img src='/img/side_photos/02.jpg'>
        <img src='/img/side_photos/05.jpg'>
        <img src='/img/side_photos/06.jpg'>
        <img src='/img/side_photos/04.jpg'>
        <img src='/img/side_photos/08.jpg'>
        <img src='/img/side_photos/07.jpg'>
        <img src='/img/side_photos/01.jpg'>
        <img src='/img/side_photos/03.jpg'>
      </div>

      <h2>Listen Live</h2>
      <ul class='shows'>
       <center>
       <a href="#" onClick="MyWindow=window.open('http://www.iheart.com/live/2069/?autoplay=true','MyWindow','toolbar=yes,location=yes,directories=yes,status=yes,menubar=yes,scrollbars=yes,resizable=yes,width=600,height=300'); return false;">
       <img src='http://farm8.staticflickr.com/7408/12377692153_6afaf3b949_o.jpg' width='200'></a>
       
       </center>
       </ul>
      <h2>Our Links</h2>
      <ul class='shows'>
        <li><a href='http://www.tigernet.com' target='_blank'>TigerNet</a></li>
        <li><a href='http://www.560theteam.com/main.html' target='_blank'>SportsRadio 560 The Team</a></li>
        <li><a href='/ads/'>Advertising Information</a></li>
      </p>
        </ul>
      <h2>Sponsors</h2>
      <div class='txtC sponsored-by'>

        <script>
          (function() {

          var sponsors = [
            {% for sponsor in site.sponsors.primary %}
              {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name }}'}
              {% unless forloop.last %},{% endunless %}
            {% endfor %}
          ];

          var sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
          document.write(
            "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
              "<img class='round' src='" + sponsor.img + "'>" +
            "</a>"
          );

          sponsors = [
            {% for sponsor in site.sponsors.secondary %}
              {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name }}'}
              {% unless forloop.last %},{% endunless %}
            {% endfor %}
          ];

          sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
          document.write(
            "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
              "<img class='round' src='" + sponsor.img + "' style='margin: 3px;'>" +
            "</a>"
          );

          })();
        </script>

      </div>
      
<h2>Latest Tweet</h2>
        <div>
        <a href='http://www.iheart.com/live/2069/?autoplay=true' target='_blank'>
          <img src='/img/560&iheart_1.jpg' width='100%'>
        </a>
      </div>
        <div class='pam'>
          <a class="twitter-timeline" href="https://twitter.com/ClemsonSports" data-widget-id="303265567794663424" data-chrome="no header nofooter noborders" data-tweet-limit="1">Tweets by @ClemsonSports</a>
        </div>
      

      <div>
        <a href='http://www.directv.com/DTVAPP/new_customer/base_packages.jsp?preSelectedSkuId=sku170004' target='_blank'>
          <img src='/img/Sponsors/Directv.jpg' width='100%'>
        </a>
      </div>

      <div>
        <a href='/blog'>
          <img src='/img/app-ad-small.jpg' width='100%'>
        </a>
      </div>

    </div>

    <div class='main'>
      {{ content }}
    </div>
  </div>
  <footer>
    <hr>
    &copy; 2013 Clemson Sports Talk. All Rights Reserved -
    Email: <a href='mailto:clemson81@gmail.com'>clemson81@gmail.com</a> -
    Website by <a href='http://www.backyardstudios.net/' target='_blank'>Backyard Studios</a>
  </footer>
</div>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script src='/js/jquery.cycle.lite.js'></script>
<script>
  jQuery('[data-cycle]').cycle();
</script>

<script>
  (function(d){
  var app = d.createElement('script'); app.type = 'text/javascript'; app.async = true;
  var pt = ('https:' == document.location.protocol ? 'https://' : 'http://');
  app.src = pt + 'www.speakpipe.com/loader/qw1js8dgbwjoask34ittpky81fu27k0e.js';
  var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(app, s);
  })(document);
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
