<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Clemson Sports Talk</title>
  <meta name='description' content='Clemson Tiger sports shows and news updates. Clemson Sports Talk brings you Clemson Tiger sports news via Twitter as well as Clemson Tiger radio shows Clemson Sports Talk, Clemson Hotline, and TigerNet Talk.'>
  <meta name='keywords' content='Clemson Tigers, Clemson Sports Talk, Clemson Sports, radio, radio show, Fox Sports Radio 1400, Tigernet, Clemson Hotline, TigerNet Talk, sports, podcasts, podcasting, Clemson radio, Clemson Tiger Radio'>
  <link rel='apple-touch-icon' href='http://farm4.static.flickr.com/3461/3824482129_32c5e526bd.jpg'>

  {% include meta.html %}

  <link href='//fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet'>

  <link href='/css/screen.css' rel='stylesheet'>

  <!--[if lt IE 9]><script src='/js/html5.js'></script><![endif]-->

</head>
<body>
<div class='page'>
  <div class='body'>

    <a href='/' class='logo' title='Clemson Sports Talk'>
      <img src='/img/logo-small.png'>
    </a>

    <a href='/' title='Clemson Sports Talk'>
      <img src='/img/banner.jpg'>
    </a>

    {% include nav.html %}

    <div class='leftCol side-nav'>

      <h2>Listen Live</h2>
      <ul class='shows'>
       <center>
       <a href="#" onClick="MyWindow=window.open('http://www.iheart.com/live/fox-sports-radio-1400-2089/?autoplay=true','MyWindow','toolbar=yes,location=yes,directories=yes,status=yes,menubar=yes,scrollbars=yes,resizable=yes,width=600,height=300'); return false;">
       <img src='http://farm8.staticflickr.com/7408/12377692153_6afaf3b949_o.jpg' width='200'></a>
       <p>
       <a href='http://www.patreon.com/clemsonsportstalk' target='_blank'>
       <img src='/img/CSTShirt.png' width='100%'>
 </a>
 <p>
       </center>
       </ul>

      <h2>Paw Preview</h2>
      <a href='http://issuu.com/clemsonsportstalk/docs/nt_pawpreview'>
        <img src='/img/NT_Cover_small.jpg' style='max-width: 100%;'>
      </a>

     <h2>Our Links</h2>
      <ul class='shows'>
        <li><a href='http://www.tigernet.com' target='_blank'>TigerNet</a></li>
        <li><a href='http://clemsonsportstalk.com/paw/' target='_blank'>The Paw of Fame</a></li>
        <li><a href='http://tinyurl.com/CSTiPhone' target='_blank'>iPhone App</a></li>
        <li><a href='http://tinyurl.com/CSTAndroid' target='_blank'>Android App</a></li>
        <li><a href='http://www.iheart.com/live/fox-sports-radio-1400-2089/?autoplay=true&pname=2093&campid=play_bar&cid=main.html' target='_blank'>Fox Sports Radio 1400</a></li>
        <li><a href='http://about.me/LawtonSwann' target='_blank'>Who is Lawton Swann?</a></li>
          <a href='http://www.iheart.com/live/fox-sports-radio-1400-2089/?autoplay=true&pname=2093&campid=play_bar&cid=main.html' target='_blank'>
          <img src='/img/1400CST.jpg' width='100%'>
        </a>
         <p></p>
      <h2>Sponsors</h2>
      <div class='txtC sponsored-by'>
         <script>
          (function() {

          var sponsors = [
            {% for sponsor in site.sponsors.primary %}
              {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name | xml_escape }}'}
              {% unless forloop.last %},{% endunless %}
            {% endfor %}
          ];

          var sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
          document.write(
            "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
              "<img class='round' src='" + sponsor.img + "'>" +
            "</a>"
          );

          sponsors = [
            {% for sponsor in site.sponsors.secondary %}
              {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name | xml_escape }}'}
              {% unless forloop.last %},{% endunless %}
            {% endfor %}
          ];

          sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
          document.write(
            "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
              "<img class='round' src='" + sponsor.img + "' style='margin: 3px;'>" +
            "</a>"
          );

          })();
        </script>
      <center>
      <a href='/ads/'>Advertising Information</a>
      </center>
      </div>

      <p></p>
      <h2>Stay In Touch</h2>
      <p></p>

         <center>
         <a href='https://www.facebook.com/ClemsonSportsTalk'><img src='/img/icon-facebook.png'></a>
         <a href='https://twitter.com/clemsonsports'><img src='/img/icon-twitter.png'></a>
         <a href='http://instagram.com/clemsonsportstalk'><img src='/img/icon-instagram.png'></a>
         <a href='https://plus.google.com/107374248920760263083'><img src='/img/icon-googleplus.png'></a>
         </center>

         <div class='pam'>
          <a class="twitter-timeline" href="https://twitter.com/ClemsonSports" data-widget-id="303265567794663424" data-chrome="no header nofooter noborders" data-tweet-limit="5">Tweets by @ClemsonSports</a>
        </div>
       <p></p>
       <p></p>

      <h2>Sponsors</h2>
      <div class='txtC sponsored-by'>
         <script>
          (function() {

          var sponsors = [
            {% for sponsor in site.sponsors.primary %}
              {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name | xml_escape }}'}
              {% unless forloop.last %},{% endunless %}
            {% endfor %}
          ];

          var sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
          document.write(
            "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
              "<img class='round' src='" + sponsor.img + "'>" +
            "</a>"
          );

          sponsors = [
            {% for sponsor in site.sponsors.secondary %}
              {link: '{{ sponsor.link }}', img: '{{ sponsor.img }}', name: '{{ sponsor.name | xml_escape }}'}
              {% unless forloop.last %},{% endunless %}
            {% endfor %}
          ];

          sponsor = sponsors[Math.floor(Math.random() * sponsors.length)];
          document.write(
            "<a href='" + sponsor.link + "' title='" + sponsor.name + "' target='_blank'>" +
              "<img class='round' src='" + sponsor.img + "' style='margin: 3px;'>" +
            "</a>"
          );

          })();
        </script>

        </ul>


    </div>

    <div class='main'>
      {{ content }}
    </div>
  </div>
  <footer>
    <hr>
    &copy; 2014 Clemson Sports Talk. All Rights Reserved -
    Email: <a href='mailto:clemson81@gmail.com'>clemson81@gmail.com</a> -
    Text: 803.450.0086 - Twitter: <a href='https://twitter.com/ClemsonSports'>@ClemsonSports</a> -
    Facebook: <a href='https://www.facebook.com/ClemsonSportsTalk'>ClemsonSportsTalk</a>
  </footer>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script src='/js/jquery.cycle.lite.js'></script>
<script>
  jQuery('[data-cycle]').cycle();
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/en_US/all.js#xfbml=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>
</html>
