<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
	<title>Clemson Sports Talk</title>
	<meta name='description' content='Clemson Tiger sports shows and news updates. Clemson Sports Talk brings you Clemson Tiger sports news via Twitter as well as Clemson Tiger radio shows Clemson Hotline and TigerNet Talk.'>
	<meta name='keywords' content='Clemson Tigers, CLemson Sports Talk, Clemson Sports Talk, Tigernet, Clemson Hotline, TigerNet Talk, Y&apos;all Magazine, sports, podcasts, podcasting'>
	<link rel='apple-touch-icon' href='http://farm4.static.flickr.com/3461/3824482129_32c5e526bd.jpg'>
  {% include meta.html %}

	<link href='//fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet'>

  <link href='/css/screen.css' rel='stylesheet'>

  <!--[if lt IE 9]><script src='/js/html5.js'></script><![endif]-->

</head>
<body>
<div class='page'>
	<div class='body {{ page.bg }}'>
		<div class='header-bg'>
			<div class='leftCol side-nav'>
				<a class='logo' alt='Clemson Sports Talk - Home' href='/'>Clemson Sports Talk</a>
        {% include slideshow.html %}
        {% include our-shows.html %}
        {% include our-links.html %}
        {% include donate.html %}
			</div>
			<div class='main'>
				<a class='logo-right' alt='Clemson Sports Talk - Home' href='/'>Clemson Sports Talk</a>
        {% include nav.html %}
        {{ content }}
			</div>
		</div>
	</div>
  <footer>
		<hr>
    &copy; 2013 Clemson Sports Talk. All Rights Reserved -
    Email: <a href="mailto:clemson81@gmail.com">clemson81@gmail.com</a> -
    Website by <a href="http://www.backyardstudios.net/" target="_blank">Backyard Studios</a>
  </footer>
</div>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script src='/js/jquery.cycle.lite.js'></script>
<script>
  jQuery('[data-cycle]').cycle();
</script>

<script>
  (function(d){
  var app = d.createElement('script'); app.type = 'text/javascript'; app.async = true;
  var pt = ('https:' == document.location.protocol ? 'https://' : 'http://');
  app.src = pt + 'www.speakpipe.com/loader/qw1js8dgbwjoask34ittpky81fu27k0e.js';
  var s = d.getElementsByTagName('script')[0]; s.parentNode.insertBefore(app, s);
  })(document);
</script>

</body>
</html>
